{
	email admin@ralphnadela.com
}

# -- API --

api.n-tutor.ralphnadela.com {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy api:3001 {
		health_uri /api/health
		health_interval 30s
	}
}

# -- Web --

n-tutor.ralphnadela.com {
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy web:3000
}
